.list-group
  .list-group-item
    %form.form{action: 'story.epub', method: 'get'}
      .input-group
        %span.input-group-addon Story url:
        %input.form-control{autofocus: true, name: 'url', placeholder: 'https://www.fanfiction.com/s/#story_id', required: true}
        %span.input-group-btn
          %button.btn.btn-primary{type: 'submit'}
            %span.glyphicon.glyphicon-download
            Download ePub


  .list-group-item
    %h2.list-group-item-heading
      = @feed.title

  - @feed.entries.each do |entry|
    .list-group-item
      %h4.list-group-item-heading
        %a.btn.btn-primary.pull-right{href: "/story.epub?url=#{entry.links[0]}"}
          %span.glyphicon.glyphicon-download
          Download ePub

        %a{href: entry.links[0], target: :new}
          = entry.title
        %small= entry.published
      %p.list-group-item-text
        = entry.summary
